<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.zrdeweb.system.dao.IplogMapper">
  <resultMap id="BaseResultMap" type="com.zr.zrdeweb.system.model.Iplog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="local" jdbcType="VARCHAR" property="local" />
    <result column="useragint" jdbcType="VARCHAR" property="useragint" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iplog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zr.zrdeweb.system.model.Iplog">
    insert into iplog ( ip, local,
      useragint, time)
    values ( #{ip,jdbcType=VARCHAR}, #{local,jdbcType=VARCHAR},
      #{useragint,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zr.zrdeweb.system.model.Iplog">
    update iplog
    set ip = #{ip,jdbcType=VARCHAR},
      local = #{local,jdbcType=VARCHAR},
      useragint = #{useragint,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, ip, local, useragint, time
    from iplog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, ip, local, useragint, time
    from iplog
  </select>
  <select id="selectByip" parameterType="java.lang.String" resultType="com.zr.zrdeweb.system.model.Iplog">
    select id, ip, local, useragint, time
    from iplog
    where ip= #{ip,jdbcType=VARCHAR}
  </select>
</mapper>