<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.zrdeweb.system.dao.UserDataMapper">
  <resultMap id="BaseResultMap" type="com.zr.zrdeweb.system.model.user.UserData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="area" jdbcType="INTEGER" property="area" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userdata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zr.zrdeweb.system.model.user.UserData">
    insert into userdata (id, user, phone, 
      area)
    values (#{id,jdbcType=INTEGER}, #{user,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{area,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zr.zrdeweb.system.model.user.UserData">
    update userdata
    set user = #{user,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user, phone, area
    from userdata
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user, phone, area
    from userdata
  </select>
</mapper>